In [81]:
import pandas as pd 
import numpy as np

biallelic_Dlabrax_maf=pd.read_csv(r"maf_file.csv", header=None, sep=" ")
biallelic_Dlabrax_maf

,0,1,2,3,4,5,6,7,8,9,...,73,74,75,76,77,78,79,80,81,82
0,16,4595,C,0,106,0,7,0,79,0,...,0,7,0,29,0,4,0,31,0,0
1,16,7203,G,79,0,0,0,63,0,26,...,1,0,25,0,7,0,31,0,2,0
2,16,7204,T,0,79,0,0,0,73,0,...,0,1,0,28,0,5,0,31,0,2
3,16,7225,G,5,0,85,0,0,0,86,...,38,0,0,0,38,0,0,0,30,0
4,16,7285,C,0,98,0,0,0,81,0,...,0,0,0,32,0,0,0,31,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15368,16,13901521,G,6,0,76,0,5,0,65,...,31,0,7,0,21,0,0,0,32,0
15369,16,13910747,A,47,0,0,30,13,0,0,...,0,21,13,0,0,14,14,0,0,20
15370,16,13915992,T,0,0,2,111,0,0,0,...,1,27,0,0,2,34,0,0,5,23
15371,16,13916055,C,0,112,0,0,0,61,4,...,1,0,0,39,2,0,0,27,0,0
15372,16,13916075,c,0,101,0,0,0,67,0,...,0,1,0,37,0,2,0,26,0,0

In [82]:
# prepare the .genotype file for the BayPass analysis

# ==============================

def BayPass_genotyping_file(infile, colnames):
    TOT_POS = range(len(infile))
    START_POS = range(3, 83, 4)
    RESULT_LIST = []
    for position in TOT_POS:
        if position%10000 == 0:
            print(position, end=" ")
        non_zero_indices = []
        for start in START_POS:
            non_zero_indices_temp = list(np.nonzero(list(infile.iloc[position, start:start+4]))[0])
            non_zero_indices.extend(non_zero_indices_temp)
        non_zero_indices = list(np.unique(non_zero_indices))
        result = []
        for start in START_POS:
            result.append(list(infile.iloc[position, start:start+4])[non_zero_indices[0]])
            result.append(list(infile.iloc[position, start:start+4])[non_zero_indices[1]])
        RESULT_LIST.append(result)
    return pd.DataFrame(RESULT_LIST, columns=colnames)

# ==============================

column_names = ['fFRA_1_1', 'fFRA_1_2', 'fGRE_12_1', 'fGRE_12_2', 'wFRA_1_1', 'wFRA_1_2',
                'fSPA_3_1', 'fSPA_3_2', 'fSPA_2_1', 'fSPA_2_2', 'fGRE_10_1', 'fGRE_10_2',
                'wGRE_6_1', 'wGRE_6_2', 'fCRO_5_1', 'fCRO_5_2', 'fGRE_11_1', 'fGRE_11_2',
                'wITA_4_1', 'wITA_4_2', 'wGRE_7_1', 'wGRE_7_2', 'wTUR_9_1', 'wTUR_9_2',
                'fCRO_6_1', 'fCRO_6_2', 'fCYP_13_1', 'fCYP_13_2', 'fGRE_9_1', 'fGRE_9_2',
                'fGRE_8_1', 'fGRE_8_2', 'wSPA_2_1', 'wSPA_2_1', 'wCRO_5_1', 'wCRO_5_2',
                'fGRE_7_1', 'fGRE_7_2', 'wTUR_10_1', 'wTUR_10_2']


Dlabrax_maf_baypass = BayPass_genotyping_file(biallelic_Dlabrax_maf, column_names)

0 10000

In [83]:
Dlabrax_maf_baypass

,fFRA_1_1,fFRA_1_2,fGRE_12_1,fGRE_12_2,wFRA_1_1,wFRA_1_2,fSPA_3_1,fSPA_3_2,fSPA_2_1,fSPA_2_2,...,fGRE_8_1,fGRE_8_2,wSPA_2_1,wSPA_2_1,wCRO_5_1,wCRO_5_2,fGRE_7_1,fGRE_7_2,wTUR_10_1,wTUR_10_2
0,106,7,79,7,76,26,57,10,46,20,...,39,31,20,5,21,7,29,4,31,0
1,79,0,63,26,44,13,41,15,43,22,...,59,3,39,1,30,1,25,7,31,2
2,79,0,73,16,48,8,41,15,55,11,...,55,6,40,1,32,1,28,5,31,2
3,5,85,0,86,2,55,0,60,0,70,...,1,60,0,43,0,38,0,38,0,30
4,98,0,81,0,57,8,69,0,64,0,...,44,0,39,0,41,0,32,0,31,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15368,6,76,5,65,22,76,24,37,5,45,...,13,49,9,17,8,31,7,21,0,32
15369,47,30,13,55,43,41,18,42,27,35,...,17,25,5,22,14,21,13,14,14,20
15370,2,111,0,67,6,76,8,62,6,61,...,8,46,5,32,1,27,2,34,5,23
15371,112,0,61,4,73,1,61,1,63,2,...,62,0,47,2,30,1,39,2,27,0
15372,101,0,67,4,73,1,67,1,69,2,...,56,1,42,1,26,1,37,2,26,0

In [84]:
# the BayPass analysis
# save without header and index, with space separation
Dlabrax_maf_baypass.to_csv(r"CHROOSOME_NAME.genotype", sep=' ', index=False, header=False)

In [75]:
# ============== prepare the OTHER data files - inputs for the BayPass software ============== #

# the POOL (haploid) size file [require for Pool-Seq data]
# 2x the number of pooled individuals of each population

# covariate file - 0: farmed, 1: wild (-efile option - standard covariate model)

# contrast file - -1: farmed, 1: wild

# STANDARD COVARIATE MODEL with Importance Sampling approximation
# for the mac
./i_baypass -gfile ../seabass_47K_SNPs/47K_seabass_BayPass.genotype -efile ../seabass_47K_SNPs/47K_seabass_BayPass.covariate -contrastfile ../seabass_47K_SNPs/47K_seabass_BayPass.contrast -poolsizefile ../seabass_47K_SNPs/47K_seabass_BayPass.poolsize -outprefix 47K_seabass_run1 -nthreads 8 -nval 10000 -burnin 10000
# for the server (from inside the "MedFish/files/European_seabass/BayPass/baypass_2.3/sources" folder)
# for Dlabrax
./g_baypass -gfile ../seabass_Dlabrax_chromosome/labrax_Dlabrax_maf.genotype -efile ../seabass_Dlabrax_chromosome/labrax_Dlabrax_maf.covariate -contrastfile ../seabass_Dlabrax_chromosome/labrax_Dlabrax_maf.contrast -poolsizefile ../seabass_Dlabrax_chromosome/labrax_Dlabrax_maf.poolsize -outprefix labrax_Dlabrax_maf_baypass -nthreads 8 -nval 10000 -burnin 10000
# for vgll3
./g_baypass -gfile ../seabass_vgll3_chromosome/labrax_vgll3_maf.genotype -efile ../seabass_vgll3_chromosome/labrax_vgll3_maf.covariate -contrastfile ../seabass_vgll3_chromosome/labrax_vgll3_maf.contrast -poolsizefile ../seabass_vgll3_chromosome/labrax_vgll3_maf.poolsize -outprefix labrax_vgll3_maf_baypass -nthreads 8 -nval 10000 -burnin 10000

#     i) 20 pilot runs of  500 iterations (to adjust proposal distributions)
#    ii) a burn-in period of 10000 iterations
#   iii) final MCMC sampling of 10000 parameter values sampled every  20 iterations (i.e., 200000 iterations)

SyntaxError: invalid decimal literal (188991931.py, line 12)